<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='carousel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='cover.css') }}">
    <title>LVGVS Photos</title>
</head>
<body>
<div class="cover d-flex h-100 text-center text-white bg-dark">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">LVGVS Photos</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" href="#">Início</a>
            <a class="nav-link" href="#galeria">Galeria</a>
            <a class="nav-link" href="#contato">Contato</a>
          </nav>
        </div>
      </header>
    
      <main class="px-3">
        <h1>LVGVS Photos</h1>
        <p class="lead">Eu sou o Lucas; engenheiro ambiental, web dev, guitarrista, escritor e fotógrafo. <br>Fiz esse site para mostrar um pouco desse meu trabalho.</p>
        <p class="lead">
          <a href="#myCarousel" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Veja mais</a>
        </p>
      </main>
    
      <footer class="mt-auto text-white-50">
        <p>&copy; LVGVS Photos - Todos os direitos reservados.</p>
      </footer>
    </div>
    
     
</div>
<main>

    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <svg class="bd-placeholder-img carousel-portrait" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></svg>
  
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Retratos</h1>
              <p>A melhor maneira de promover sua imagem pessoal.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img carousel-event" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></svg>
  
          <div class="container">
            <div class="carousel-caption">
              <h1>Eventos</h1>
              <p>Para eternizar suas experiências.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <svg class="bd-placeholder-img carousel-art" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"></svg>
  
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>Fotografia e arte</h1>
              <p>Transforme momentos em verdadeiras obras-de-arte.</p>
              <p><a class="btn btn-lg btn-secondary fw-bold border-white bg-white" href="#galeria">Veja a galeria</a></p>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing">
  
      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{ url_for('static', filename='anaflavia.jpg') }}">
          <br>
          <br>
          <p>"Eu admito que estava com vergonha no início, mas depois fui me sentindo confortável e foi muito divertido."</p>
          <h5> - Ana Flávia</h5>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{ url_for('static', filename='ana.jpg') }}">
          <br>
          <br>
          <p>"A gente usou algumas luzes coloridas que estavam em uma calçada. Não imaginei que as fotos ficariam tão lindas."</p>
          <h5> - Ana</h5>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{ url_for('static', filename='richardson.jpg') }}">
          <br>
          <br>
          <p>O bom de ter um primo fotógrafo é que todas as nossas viagens vem acompanhadas de fotos incríveis!</p>
          <h5> - Richardson</h5>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
  
  
      <!-- START THE FEATURETTES -->
  
      <hr class="featurette-divider">
      <h1 id="galeria" class="text-center">Galeria</h1>
      <br>
      <br>
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Álbum <span class="text-muted">"Retratos"</span></h2>
          <p class="lead">Uma seleção dos retratos que já fotografei.</p>
        </div>
        <div class="col-md-5">
            <a data-flickr-embed="true" href="https://www.flickr.com/photos/lucas-camargo/albums/72157720259807250" title="Portraits">
              <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="https://live.staticflickr.com/65535/51725054447_c36d992c16_h.jpg" width="400" height="267" alt="Portraits">
            </a>
  
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Álbum <span class="text-muted">"Ana"</span></h2>
          <p class="lead">Os retratos da Ana, feitos bem despojadamente durante uma caminhada noturna pela cidade.</p>
        </div>
        <div class="col-md-5 order-md-1">
          <a data-flickr-embed="true" href="https://www.flickr.com/photos/lucas-camargo/albums/72177720296505325" title="Ana">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="https://live.staticflickr.com/65535/51865675361_895bf41ef8_h.jpg" width="400" height="400" alt="Ana">
          </a>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Álbum <span class="text-muted">"Chapada 2021"</span></h2>
          <p class="lead">Fotos feitas durante uma viagem para a Chapada dos Veadeiros, em 2021.</p>
        </div>
        <div class="col-md-5">
          <a data-flickr-embed="true" href="https://www.flickr.com/photos/lucas-camargo/albums/72157720259759105" title="Chapada 2021">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="https://live.staticflickr.com/65535/51725053672_a6e96755f0_h.jpg" width="400" height="400" alt="Chapada 2021">
          </a>
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <!-- /END THE FEATURETTES -->
  
    </div><!-- /.container -->

    <!-- /PÁGINA DE CONTATO -->

    <div class="container">
      <h1 id="contato" class="text-center">Contato</h1>
      <div class="row">
        <div class="col-lg-7">
          <form method="post">
            <label class="lead form-label" for="nome">Seu nome</label><br>
            <input class="form-control" id="nome" name="name" type="text" placeholder="Nome"><br>
            <label class="lead form-label"for="tel">Seu telefone</label><br>
            <input class="form-control" id="tel" name="tel" type="tel" placeholder="(xx) 9xxxx-xxxx"><br>
            <label class="lead form-label" for="email">Seu E-mail</label><br>
            <input class="form-control" id="email" name="email" type="email" placeholder="nome@domínio.com"><br>
            <label class="lead form-label" for="msg">Sua mensagem</label><br>
            <textarea class="form-control" rows="5" id="msg" name="msg" type="text" placeholder="Mensagem"></textarea>
            <button style="margin: 1rem 0;" type="submit" class="float-end btn btn-secondary fw-bold border-gray bg-gray text-white text-decoration-none">Enviar</button>

          </form>
        </div>
        <div class="col-md-5 contato">
          <div class="float-end">
            <p class="lead text-start">E-mail: <a class="link-secondary" href="mailto:lucas-camargo@outlook.com">lucas-camargo@outlook.com</a></p>
            <p class="lead text-start">Telefone: <a class="link-secondary" href="tel:+5562993503724">(62) 9 9350-3724</a></p>
            <p class="lead text-start">Instagram: <a class="link-secondary" href="https://instagram.com/lvgvspe">@lvgvspe</a></p>
          </div>
        </div>
      </div>
    </div>
  
    <br>
    <br>
    <!-- FOOTER -->
    <footer class="container">
      <button type="button" class="float-end btn btn-secondary fw-bold border-gray bg-gray"><a class="text-white text-decoration-none" href="#">Volte ao topo</a></button>
      <p>&copy; LVGVS Photos - Todos os direitos reservados. | Site feito por <a class="link-secondary" href="https://github.com/lvgvspe">LVGVSPE</a></p>
    </footer>
    <br>
  </main>
  <script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
</body>
</html>